{namespace stash.widget}

/**
 * @param user
 * @param? href the href for the link. If not specified it defaults to the user's profile
 * @param? extraClasses
 */
{template .userLink}
<a href="{$href ? $href : nav_user($user.slug)}" {if $extraClasses}class="{$extraClasses}"{/if}>{$user.displayName}</a>
{/template}
