{namespace stash.widget.notifications}

/**
 */
{template .center}
    <div id="notifications-center"></div>
{/template}

/**
 * @param message
 */
{template .notification}
    <div class="status-notification">{$message}</div>
{/template}
