{namespace stash.feature.changeset}
    
/**
 * @param changeset
 * @param? repository
 */
{template .link}
    {if $repository}
        <a class="changesetid" href="{nav_changeset($repository.project, $repository, $changeset.id)}">{$changeset.displayId}</a>
    {else}
        <span class="changesetid">{$changeset.displayId}</span>
    {/if}
{/template}