.revision-reference-selector-trigger .aui-icon,.revision-reference-selector .aui-icon{color:#707070;}
.revision-reference-selector-trigger .aui-icon{margin-right:5px;}.revision-reference-selector-trigger .aui-icon+.name{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:197px;}
.revision-reference-selector .result a:hover .aui-icon,.revision-reference-selector .result a:active .aui-icon{color:#ffffff;}
.revision-reference-selector .result.focused a .aui-icon{color:#ffffff;}
