.diff-message,.diff-message:first-child{margin:30px auto;max-width:600px;white-space:normal;}
.diff-conflict-message-container{padding:20px;background:#ffffff;white-space:normal;}.diff-conflict-message-container .aui-message{margin-bottom:0;}
