{namespace stash.feature.pullRequest}

/**
 * @param diffTreeHeaderWebItems
 */
{template .diff}
    {call stash.feature.treeAndDiffView}
        {param diffTreeHeaderWebItems : $diffTreeHeaderWebItems /}
    {/call}
{/template}

