{namespace stash.feature.fileContent.sideBySideDiffView}


/**
 */
{template .layout}
    {call stash.feature.fileContent.diffView.editor}
        {param editorClass: 'side-by-side-diff-editor-from' /}
    {/call}
    <div class="segment-connector-column" ></div>
    {call stash.feature.fileContent.diffView.editor}
        {param editorClass: 'side-by-side-diff-editor-to' /}
    {/call}
{/template}
