.branch-diagram-merge>.diagram-image{background-image:url(branch-diagram-merge.png);}
.branch-diagram-create>.diagram-image{background-image:url(branch-diagram-create.png);}
.branch-diagram-automerge>.diagram-image{background-image:url(branch-diagram-automerge.png);}
.branch-diagram .ref-lozenge{max-width:361px;}
