{namespace stash.page.about}

/**
 *
 */
{template .lgplLibraries}
<ul>
<li>Atlassian Hibernate 4 Extras (<a href="https://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">com.atlassian.hibernate:atlassian-hibernate4-extras:jar:4.0.3</a>)</li>
<li>atlassian-image-consumer (<a href="http://www.gnu.org/licenses/lgpl-2.1.txt" target="_blank">com.atlassian.image:atlassian-image-consumer:jar:1.0.1</a>)</li>
<li>Core Hibernate O/RM functionality (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate:hibernate-core:jar:4.3.4.Final</a>)</li>
<li>Hibernate Commons Annotations (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate.common:hibernate-commons-annotations:jar:4.0.4.Final</a>)</li>
<li>Hibernate/Ehcache Integration (<a href="http://www.gnu.org/licenses/lgpl-2.1.html" target="_blank">org.hibernate:hibernate-ehcache:jar:4.3.4.Final</a>)</li>
<li>Java Persistence API -  Version 2.1 (<a href="http://hibernate.org" target="_blank">org.hibernate.javax.persistence:hibernate-jpa-2.1-api:jar:1.0.0.Final</a>)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha-api:jar:2.0-alpha-1)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha:jar:2.0-alpha-1)</li>
<li>jStyleparser (<a href="http://www.gnu.org/licenses/lgpl-3.0.txt" target="_blank">net.sourceforge.cssbox:jstyleparser:jar:1.13-atlassian-2</a>)</li>
<li>Streaming API for XML (<a href="http://www.gnu.org/licenses/gpl.txt" target="_blank">javax.xml.stream:stax-api:jar:1.0-2</a>)</li>
</ul>
{/template}