.icon-breadcrumbs-back{margin-right:5px;background:transparent url(../com.atlassian.stash.stash-web-plugin:admin-layout/icons/icon-breadcrumbs-back.png) no-repeat 0 50%;}
.breadcrumbs{white-space:normal;color:#000;vertical-align:bottom;line-height:30px;}.breadcrumbs .sep{color:#AAA;padding:0;}.breadcrumbs .sep:before,.breadcrumbs .sep:after{content:' ';}
.breadcrumbs .stub{font-weight:bold;}
.breadcrumbs span.stub{color:#333;}
