#
#  Config here string to be displayed in stash start/stop scripts
#
#  NOTE: It DOES NOT affect how tomcat is configured!
#  Configure server.xml first and after replicate it here
#  Commented lines should start with a '#' 
# 

#Tomcat context where stash is running
stash_context=

#Tomcat port
stash_httpport=7990
