.stash-theme #browse-table{margin-top:0;min-width:0;}.stash-theme #browse-table tr:hover{background-color:#F5F5F5;}
.stash-theme #browse-table .folder,.stash-theme #browse-table .remote,.stash-theme #browse-table .file{background:transparent;}
.stash-theme #browse-table .aui-icon{margin-right:10px;}
.stash-theme #browse-table .aui-iconfont-devtools-folder-closed{color:#3b73af;}
.stash-theme #browse-table .aui-iconfont-devtools-file,.stash-theme #browse-table .aui-iconfont-devtools-browse-up,.stash-theme #browse-table .aui-iconfont-devtools-submodule{color:#707070;}
.stash-theme #browse-table .submodule-sep{color:#707070;}
.stash-theme #browse-table .message-row{border-bottom:none;}.stash-theme #browse-table .message-row:hover{background-color:transparent;}
.stash-theme #browse-table .message-row td{padding:0;}
.stash-theme #browse-table .message-row .aui-message{margin:16px 48px 0;}
.stash-theme #browse-table tr td{border-left:2px solid #fff;}
.stash-theme #browse-table tr.focused-file td{background-color:#F5F5F5;border-left:2px solid #3b73af;}
.stash-theme #browse-table tr.file-row:focus,.stash-theme #browse-table tr.file-row a:focus{outline:none;text-decoration:none;}
.stash-theme .filebrowser-banner .aui-message{margin-bottom:20px;}
