{namespace header.global.primary}

/**
 *
 */
{template .homeLink}
<h1 id="logo" class="aui-header-logo aui-header-logo-stash">
    <a href="{nav_base_url()}" class="stash">
        <span class="aui-header-logo-device">{stash_i18n('stash.appname', 'Stash')}</span>
    </a>
</h1>
{/template}
