{namespace stash.web.project.list.banner}
/**
 *
 */
{template .stashWelcomeMatNoProjects}
<h3 class="entity-empty">{stash_i18n('stash.web.welcome-mat.no.projects.heading', 'There are no projects yet.')}</h3>
{/template}
