{namespace stash.web.project.list.banner}
/**
 *
 */
{template .stashWelcomeMatCreateProject}
<a href="{nav_project_create()}" class="create-project-link">
    <span class="icon"></span>
    <h3>{stash_i18n('stash.web.welcome-mat.create.project', 'Create Project')}</h3>
    <p>{stash_i18n('stash.web.welcome-mat.create.project', 'Create a project in Stash to group Git repositories and control who can access and contribute to the project.')}</p>
</a>
{/template}
