{namespace stash.web.project.list.banner}
/**
 *
 */
{template .stashWelcomeMatAdmin}
<a href="{nav_admin()}" class="administration-link">
    <span class="icon"></span>
    <h3>{stash_i18n('stash.web.welcome-mat.add.users', 'Add Users')}</h3>
    <p>{stash_i18n('stash.web.welcome-mat.admin.text', 'Create users and groups in Stash or easily connect to Active Directory, JIRA or LDAP.')}</p>
</a>
{/template}
