{namespace stash.web.project.overview.banner}
/**
 *
 */
{template .stashWelcomeMatNoRepositories}
<h3 class="entity-empty">{stash_i18n('stash.web.welcome-mat.no.repositories.heading', 'There are no repositories in this project yet.')}</h3>
{/template}
