{namespace stash.web.userdetails.avatar.caption}
/**
 *
 */
{template .stashGravatarDisabledPanel}
<span class="gravatar-notice" title="{stash_i18n('stash.web.gravatar.disabled.tooltip', 'All avatars display as the default image.')}">{{stash_i18n('stash.web.gravatar.disabled', '{0}Gravatar{1} is disabled', '<a href="http://gravatar.com">', '</a>')|noAutoescape}}</span>
{/template}
