{namespace stash.web.userdetails.avatar.caption}
/**
 *
 */
{template .stashGravatarEnabledPanel}
<span class="gravatar-notice">{{stash_i18n('stash.web.gravatar.enabled', 'Change your avatar with {0}', '<a href="http://gravatar.com">Gravatar</a>')|noAutoescape}}</span>
{/template}
