{namespace stash.feature.pullRequest}

/**
 * @param repository
 * @param changesetPage
 * @param commitsTableWebSections
 */
{template .commits}
    {call stash.feature.commits.commitsTableImpl}
        {param repository: $repository /}
        {param changesetPage : $changesetPage /}
        {param tableId : 'pull-request-commits-table'/}
        {param webSections : $commitsTableWebSections /}
    {/call}
{/template}