.stash-theme .diff-view{height:100%;}
.stash-theme .source-container pre.code{display:table-cell;width:1%;}
.stash-theme .opacity-slider-container input{display:none;}
.stash-theme .content-view.empty-file .icon-empty-file,.stash-theme .content-view.empty-file .icon-empty-diff{background-image:url(icons/icon-document.png) !important;}
