.file,
.folder,
.file-commented,
.file-document {
    background: url("icons-files.png") no-repeat;
}

.folder { background-position: 0 0; }
.file { background-position: 0 -32px; }
.browse-up { background-position: 0 -64px; }
.file-commented { background-position: 0 -96px; }
.file-document { background-position: 0 -160px; }
